.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column {
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.user-component__avatar {
  height: 70px;
  width: 70px;
  border-radius: 30%;
  margin-right: 20px;
}
.user-component__avatar--xl {
  height: 80px;
  width: 80px;
}
.user-component__avatar--xs {
  height: 60px;
  width: 60px;
}

.user-component__name {
  font-size: 25px;
  font-weight: 500;
}

.user-component__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.6);
}
.user-component__column:last-child {
  color: rgb(0, 0, 0, 0.4);
  display: block;
}
.user-component__time {
  padding: 10px;
  display: block;
}
